body {
  overflow: overlay;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --vp-layout-max-width: 1640px;
}

.VPContent {
  .VPDoc {
    &.has-aside {
      .content-container {
        max-width: 100% !important;
      }
    }
    
    &:not(.has-sidebar) {
      .container {
        max-width: calc(var(--vp-layout-max-width) - 220px) !important;
        
        .aside {
          max-width: 160px;
          padding-left: 0;
        }
        
        .content {
          max-width: 100% !important;
          padding-bottom: 32px;
          
          .content-container {
            max-width: 100% !important;
          }
        }
      }
    }
    
  }
}

.VPSidebar {
  .VPSidebarItem {
    position: relative;
    
    @for $i from 1 through 3 {
      &:has(.level-#{$i}) {
        .items {
          padding-left: calc($i * 8px);
        }
      }
    }
    
    &::before {
      position: absolute;
      top: 50%;
      left: -12px;
      width: 6px;
      height: 6px;
      content: "";
      transition: transform 0.3s ease-in-out;
      transform: scale(0) translateY(-50%);
      border-radius: 50%;
      background: var(--vp-c-green-dimm-3);
    }
    
    &.is-active {
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--vp-c-green-dimm-2) 35%,
        transparent 100%
      );
      
      &::before {
        transform: scale(1) translateY(-50%);
      }
    }
  }
  
  .nav {
    .group + .group {
      border-top: none;
    }
  }
}

.VPDocAside {
  .outline-marker {
    width: 4px;
    border-radius: 4px;
  }
  
  .outline-link.active {
    color: var(--vp-c-brand) !important;
  }
}

.vp-doc {
  blockquote {
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    border-left: 4px solid var(--vp-c-green-dimm-3);
    background-color: var(--vp-c-green-dimm-1);
    
    p {
      font-size: 14px;
    }
  }
}
