.VPSidebar {
  .link {
    //padding-left: 8px !important;
  }
}

.VPDocAside {
  .outline-link.active {
    color: var(--vp-c-brand) !important;
  }
}

.vp-doc blockquote {
  border-left: 4px solid var(--vp-c-indigo-light);
  background-color: var(--vp-c-green-dimm-3);
  padding: 0.2rem 1rem;
  margin: 1rem 0;

  p {
    font-size: 14px;
  }
}