.site-nav-layout {
  .VPDoc {
    .content-container {
      .main {
        .vp-doc h2 {
          margin: 48px 0 32px;
          border-top: none;
        }
      }

      .VPDocFooter {
        display: none;
      }
    }
  }
}
