.site-nav-layout {
  .VPDoc {
    .container {
      max-width: var(--vp-layout-max-width) !important;

      .aside {
        padding-left: 0;
        max-width: 160px;
        position: sticky;
        top: 0;
      }

      .content {
        max-width: 100% !important;
        padding-bottom: 32px;

        .content-container {
          max-width: 100% !important;

          .main {
            .vp-doc h2 {
              margin-top: 24px;
              border-top: none;
            }
          }

          .VPDocFooter {
            //display: none;
          }
        }
      }
    }
  }
}
